@font-face {
  font-family: 'KoPubWorldDotum';
  src: url('/fonts/KoPubWorldDotum-Light.woff2') format('woff2'),
    url('/fonts/KoPubWorldDotum-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'KoPubWorldDotum';
  src: url('/fonts/KoPubWorldDotum-Medium.woff2') format('woff2'),
    url('/fonts/KoPubWorldDotum-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'KoPubWorldDotum';
  src: url('/fonts/KoPubWorldDotum-Bold.woff2') format('woff2'),
    url('/fonts/KoPubWorldDotum-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--bg);
  z-index: 100;
  border-bottom: 1px solid #185aa5;
}

header nav.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 3rem;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-family: 'KoPubWorldDotum', sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  color: #185aa5;
}

#log {
  height: 50px;
  display: block;
}

.navlinks {
  display: flex;
  gap: 5rem;
}

.navlinks a {
  color: #000;
  text-decoration: none;
  font-family: 'KoPubWorldDotum', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.navlinks a:hover {
  color: var(--accent);
}


footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  color: #185aa5;
  text-align: center;
  font-family: 'KoPubWorldDotum', sans-serif;
  font-weight: 700;
  border-top: 1px solid #185aa5;
}

footer span {
  font-size: 12px;
}