#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white; 
  z-index: 1000; 
}

#header nav {
  display: flex;  
  gap: 20px; 
  align-items: center; 
}


main {
  padding-top: 100px;
}
